*{
    background-color: black;
    color: white;
}
header{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
}
.header-left{
    width: 50%;
}
.header-right{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    width: auto;
    padding:25%;
    color: black;
    background-color: white;
    border: none;
    font-size: 1em;
    white-space: nowrap;
}
footer{
    width: 100%;
    position: fixed;
    bottom:10px;
    text-align: center;
    font-size: 2em;
}