*{
    background-color: black;
    color: white;
}
header{
    margin:1%;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
}
.header-left{
    width: 50%;
    display: flex;
    align-items: center;
    gap:1%;
}
.header-right{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    width: auto;
    padding:5% 35% 5% 35%;
    color: black;
    background-color: white;
    border-radius: 2em;
    border: none;
    font-size: 1.3em;
    white-space: nowrap;
}
.nav-option{
    background-color: black;
    color: white;
}
.nav-option:hover{
    background-color: white;
    color:black;
}
footer{
    width: 100%;
    position: fixed;
    bottom:10px;
    text-align: center;
    font-size: 2em;
}